/*
	--------------
	SccTakeTheTour
	--------------
*/

/* Navigation*/
.scc-takethetour-nav {
	margin-bottom: 2em;
}

.scc-takethetour-nav button,
.scc-takethetour-nav div {
	display: inline-block;
}

.scc-takethetour-nav div button{
	border-radius: 0;
	border-right: none;
}

.scc-takethetour-nav button.prev{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.scc-takethetour-nav button.next{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.scc-takethetour-nav button.prev .caret {
	transform: rotate(90deg);
	padding: 0;
}

.scc-takethetour-nav button.next .caret {
	transform: rotate(270deg);
	padding: 0;
}

/* Slides */
.scc-takethetour-slides {
	margin: 0;
}

.scc-takethetour-slides li{
	list-style-type: none;
}

/* Various */
.scc-takethetour .credits {
    font-size: 9px;
    text-align: center;
}

.scc-takethetour.modal .modal-footer {
    padding-left: 20px;
    padding-right: 20px;
}

.scc-takethetour .never-show-again {
	float: left;
}

.scc-takethetour .never-show-again input {
	margin-top: 0;
	margin-right: 0.5em;
}